/* .grid-item-5 {
    flex-wrap: wrap;
    justify-content: space-around;
} */

.containerP1 {
    text-align: center;
    border-radius: 30%;
    height: 250px;
    width: 250px;
    background-color: greenyellow;
}

.divchildP1 {
    padding-top: 35px;
}

.containerP2 {
    text-align: center;
    border-radius: 30%;
    height: 250px;
    width: 250px;
    background-color: #ec4444;
}

.divchildP2 {
    padding-top: 35px;
}
